:root {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    color: #98a6d4;
}
/* Card */
.card {
    padding: 30px;
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: #242424;
}

.card > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    background-color: white;
    border-color: silver;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: none;
    min-height: 30px;
    color: #242424;
    padding: 3px 8px;
}

button {
    background-color: #28ab70;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 18px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-width: 250px;
    justify-content: center;
}
button:hover {
    background-color: #11814e;
}
button.disabled {
    cursor: not-allowed;
    background-color: #aaa;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 10px;
}
.lds-ellipsis div {
    position: absolute;
    top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.vue-notification-group {
    right: 30px !important;
    bottom: 30px !important;
    width: 500px !important;
}

.vue-notification-wrapper {
    margin-top: 15px !important;
    cursor: pointer;
    transition: 0.2s;
}

.vue-notification.success {
    background-color: #28ab70 !important;
    border-left-color: #afffdb !important;
}
.vue-notification-wrapper:hover {
    transform: scale(1.02);
}

.vue-notification-template {
    padding: 15px !important;
}
.notification-title {
    font-size: 18px;
    padding-bottom: 5px !important;
}
.notification-content {
    font-size: 16px;
}
