/* // BASE*/
$primary: #66eb9a;
@import "bootstrap";
:root {
    --background-color-primary: #202124;
    --background-color-secondary: #202124;
}
html,
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

form {
    margin-bottom: 0;
}

label[type="button"] {
    transition: 0.4s;
    position: relative;
    top: 0;
}
label[type="button"]:hover {
    top: -6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
input[type="radio"] {
    cursor: pointer;
}

h1 {
    font-weight: bold;
    opacity: 0;
    position: relative;
    left: 4vw;
}

/* // LOGIN*/

#form-login {
    margin: auto;
    max-width: 600px;
}

.admin {
    max-width: 900px;
}
td {
    vertical-align: middle;
}
.action {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.action span {
    font-size: 18px;
}
.action:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.back {
    transform: rotate(180deg);
    font-size: 52px;
    position: relative;
    top: -40px;
    cursor: pointer;
    margin-bottom: -40px;
    transition: 0.4s;
    margin-left: auto;
    width: max-content;
}
.back:hover {
    transform: rotate(180deg) scale(1.2);
}
/* // LOGO*/
.logo {
    font-family: "Permanent Marker", cursive;
    color: white;
    font-size: 38px;
    text-decoration: none;
    min-width: 300px;
}

.logo:hover {
    color: white;
}

.logo > b {
    color: $primary;
}

/* // SECTIONS*/

header {
    a {
    }
}
main {
    min-height: 80vh;
}
footer {
    & > div > div {
        a {
            margin-bottom: 5px;
        }
    }
    a {
        transition: 0.2s;
    }
}

.btn-primary {
    color: #005d1a;
}

/* ///  ANIMATIONS */
.scale-anim {
    cursor: pointer;
    transition: 0.4s;
}
a {
    text-decoration: none;
    color: inherit;
}
.scale-anim:hover {
    transform: scale(1.05);
}

img {
    object-fit: cover;
}

.card-body {
    img {
        object-fit: cover;
    }
    h2 {
        font-weight: bold;
    }
    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
/* ///  CARD */

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    opacity: 0;
}
.product {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 700px;
}

.product div:first-child img {
    width: 100%;
}
/* ///  HEADER NAV LINKS */

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    font-family: "Permanent Marker", cursive;
    font-size: 24px;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: $primary;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: "";
    /* show by default */
}

.link::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.link::after {
    content: "";
    top: calc(100% + 4px);
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.link:hover::after {
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}
